@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #05050B;
}
input::placeholder{
  opacity: 0.5;
}
.bg-form-modal {
  background: #05050a;
}
.bg-body{
  background: #05050B;
}
.bg-input-form{
  background: #18191e;
}
.bg-slate {
  background-color: #1A1C1F;
}
.bg-orange{
  background: #fd54001e;
}
.bg-gradient {
  background-image: linear-gradient(to bottom right,#fff, #e7f3ff78);
}
.bg-dev {
  background-color: #0C1F22;
}